{% extends "blog/base.html" %}


{% block title %}
    {{ post.title }}
{% endblock %}

<div class="mt-6 bg-gray-50">
<!--posts by this author block to be included here-->
<!--end posts by this author block-->
    <div class=" px-10 py-6 mx-auto">

            {% block content %}
             <!--post-featured-image-->
                <div class="max-w-6xl px-10 py-6 mx-auto bg-gray-50">
                        
		                <!--<a href="#_" class="block transition duration-200 ease-out transform hover:scale-110">
	                        <img class="object-cover w-full shadow-sm h-full" src="../static/username.png">
	                    </a>-->
                        <!--post categories-->
		                <!--<div class="flex items-center justify-start mt-4 mb-4">
                        	<a href="#"class="px-2 py-1 font-bold bg-red-400 text-white rounded-lg hover:bg-gray-500 mr-4">Django</a>
                        	<a href="#"class="px-2 py-1 font-bold bg-red-400 text-white rounded-lg hover:bg-gray-500 mr-4">Python</a>
                        	<a href="#"class="px-2 py-1 font-bold bg-red-400 text-white rounded-lg hover:bg-gray-500">web development</a>
                         </div>-->
                        <div class="mt-2">
                        	<!--post heading-->
                        	<h2 class="sm:text-3xl md:text-3xl lg:text-3xl xl:text-4xl font-bold text-purple-500  hover:underline">{{ post.title }}</h2>

                                <!--post views-->
                                <!--<div class="flex justify-start items-center mt-2">
                                	<p class="text-sm text-green-500 font-bold bg-gray-100 rounded-full py-2 px-2 hover:text-red-500">3000</p>
                                	<p class="text-sm text-gray-400 font-bold ml-5">Views</p>
                                
                                </div>-->

                                <!--author avator-->
                               <div class="font-light text-gray-600">
	                              
	                        		<a href="#" class="flex items-center mt-6 mb-6">
                                    <!--<img
	                                        src="../static/teach.jpg"
	                                        alt="avatar" class="hidden object-cover w-14 h-14 mx-4 rounded-full sm:block">-->
	                                    <h1 class="font-bold text-gray-700 hover:underline">By {{ post.author }}</h1><span>Published {{ post.publish }}</span>
	                                </a>
                        	  </div>
                       </div>

                               	<!--post content-->
                 <div class="max-w-4xl px-10  mx-auto text-2xl text-gray-700 mt-4 rounded bg-gray-100">

                 	<!--content body-->
                 	<div>
                        	<p class="mt-2 p-8 ">{{ post.body|linebreaks }}</p>
                     </div>

                     

				        </div>
                    
                    
                </div>
            
            {% endblock %}
    </div>

</div>
